<%- include("partials/head"); %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <form class="shadow p-3" method="POST">
                  <h4 class="text-center text-uppercase my-3">Signin to Carvaluate</h4>
                  <% if(messages.error) {%>
                    <div class="alert alert-danger" role="alert">
                        <%- messages.error %>
                    </div>
                  <%}%>
                  <% if(messages.success) {%>
                    <div class="alert alert-success" role="alert">
                        <%- messages.success %>
                    </div>
                  <%}%>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  <p class="my-2">Not registered? <a href="/register">Signup</a></p>
                </form>
            </div>
        </div>
    </div>
<%- include("partials/footer"); %>
