/* Defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Navbar */
.nav-bar {
    background: #000 !important;
    padding: 12px 0;
    color: #fff;
}

.nav-bar li {
    margin-right: 16px;
}

.brand-btn {
    padding: 8px 24px !important;
    color: #fff;
    border-radius: 10px;
    background: rgba(179,33,46,1);
}

/* body */
.contact {
    position: relative;
    width: 100%;
    padding: 150px 0;
    background: #ebebeb;
}

.contact h1 {
    font-weight: 600 !important;
    font-size: 24px;
    margin: 16px 0;
}

.contact img {
    margin: 30px 0;
    position: relative;
    width: 450px;
    height: 350px;
    float: right;
}